<div class="background main-background">
    <div class="container">
        <h1 id="tagline">A place where you make your own enterntainment<br>Connect with others and share interests.</h1>
    </div>
    <div class="home-overlay"></div>
</div>
<div class="section2">
    <div class="col-md-6 ent">
        <h2 id="about-us"><strong>What is Your Space</strong></h2>
        <h5 class="entertainment"><strong>Entertainment</strong></h5>
        <p>Your Space is your entertainment center! Keep up to date with the latest and trending.<br>We provide you with what's
            trending in videos, entertainment news, and latest movies.</p>
        <h5 class="entertainment"><strong>Videos</strong></h5>
        <p>View whats going viral in our videos page! Pass the time by searching through tons of video content.</p>
        <h5 class="entertainment"><strong>News</strong></h5>
        <p>Stay Updated on occurences in the entertainment world. News on your favorite artists, celebrities, and more.</p>
        <h5 class="entertainment"><strong>Movies</strong></h5>
        <p>Looking for a movie to see? We got what's playing in theathers now! Find a movie now.</p>
    </div>
    <div class="col-md-6 image-group">
        <a ui-sref="videos">
            <div class="row background project about about-one">
                <div class="overlay-project">
                    <div class="text">Videos</div>
                </div>
            </div>
        </a>
        <a ui-sref="news">
            <div class="row background project about about-two">
                <div class="overlay-project">
                    <div class="text">News</div>
                </div>
            </div>
        </a>
        <a ui-sref="music">
            <div class="row background project about about-three">
                <div class="overlay-project">
                    <div class="text">Movies</div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="section3 background clearfix">
    <div class="social-overlay clearfix">
    </div>
</div>

<div class="section4">
    <div class="container">
        <div class="col-md-12">
            <h2 id="get-social"><strong>Add our developers!</strong></h2>
            <div class="row developer dev-image">
                <div class="col-md-3">
                    <a href="https://www.linkedin.com/in/taylorleethomas/" target="blank">
                        <img class="img-circle" src="./images/taylor.jpg">
                    </a>
                    <p>Taylor Thomas <br>Project Manager</p>
                </div>

                <div class="col-md-3">
                    <a href="https://www.linkedin.com/in/brian-canlas-57445813b/" target="blank">
                        <img class="img-circle" src="./images/profile.jpg">
                     </a>
                    <p>Brian Canlas<br>Frontend Developer</p>
                </div>

                <div class="col-md-3">
                    <a href="https://www.linkedin.com/in/chance-hernandez-847852149/" target="blank">
                        <img class="img-circle" src="./images/chance.jpg">
                    </a>
                    <p>Chance Hernandez<br>Backend Developer</p>
                </div>

                <div class="col-md-3">
                    <a href="https://www.linkedin.com/in/shaneal-prasad-882852149/" target="blank">
                        <img class="img-circle" src="./images/shaneal.jpg">
                    </a>
                    <p>Shaneal Prasad<br>Backend Developer</p>
                </div>
            </div>
        </div>
    </div>
</div>